@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}
body{
  
  background-color: #e1ecf2;
}
/*Back_Ground */

.cube {
   position: absolute;
   top: 80vh;
   left: 45vw;
   width: 10px;
   height: 10px;
   border: solid 1px #003298;
   transform-origin: top left;
   transform: scale(0) rotate(0deg) translate(-50%, -50%);
   animation: cube 12s ease-in forwards infinite;
   z-index: -1;   
}
 .cube:nth-child(2n) {
   border-color: #0051f4;
}
 .cube:nth-child(2) {
   animation-delay: 2s;
   left: 25vw;
   top: 40vh;
}
 .cube:nth-child(3) {
   animation-delay: 4s;
   left: 75vw;
   top: 50vh;
}
 .cube:nth-child(4) {
   animation-delay: 6s;
   left: 90vw;
   top: 10vh;
}
 .cube:nth-child(5) {
   animation-delay: 8s;
   left: 10vw;
   top: 85vh;
}
 .cube:nth-child(6) {
   animation-delay: 10s;
   left: 50vw;
   top: 10vh;
}
 @keyframes cube {
   from {
     transform: scale(0) rotate(0deg) translate(-50%, -50%);
     opacity: 1;
  }
   to {
     transform: scale(20) rotate(960deg) translate(-50%, -50%);
     opacity: 0;
  }
}
 
/*end*/
.wrapper{
  margin: 10px;

}
.wrapper .top_navbar{
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: absolute;
  top: 10px;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #2e4ead;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #92a6e2;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
/* Font water animator */
.wrapper .top_navbar .top_menu .logo{
    color: #2e4ead;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2c3e5036;
    background-image: url(../images/water.png);
    -webkit-background-clip: text;
    animation: water 7s infinite;
}
@keyframes water {
  from{
    background-position: left 0px top 0px;
  }
  to{
    background-position: left 1000px top 0px;
  }
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}
.wrapper .top_navbar .top_menu .user_Profile{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper .top_navbar .top_menu .user_Profile:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu .user_Profile:hover i{
  color: #fff;
}
/*W3 School user_Proflie */
.w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
    background-color: snow;
    color: snow;
}

.w3-dropdown-content {
    cursor: auto;
    color: #000;
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 230px;
    margin: 0;
    padding: 0;
    right: 8px;
    z-index: 5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}


.User_Postition
{
  border-bottom: 1px solid #C5C5C5;
}
.w3-dropdown-content a
{
   text-decoration: none;
}
.w3-col.s4 {
    width: 33.33333%;
    padding: 10px;
}
.w3-col.s6 {
    width: 49.99999%;
    padding: 10px;
}


/* ---------------------------------------------*/

.wrapper .sidebar{
  position: absolute;
  top: 70px;
  left: 10px;
  background: #2e4ead;
  width: 200px;
  height: 100%;
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    text-decoration: none;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: contents;
}

.wrapper .sidebar ul li a span.title{
  display: contents;
  font-size: 14px;
}
.dropdown-menu .title i
{
  display: contents;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper .sidebar.collapse {
    width: 70px;
    display: block;
}

.wrapper .sidebar.collapse ul li a{
  text-align: center; 
}

.wrapper .sidebar.collapse ul li a span.icon{
  margin: 0;
}

.wrapper .sidebar.collapse ul li a span.title{
  display: none;
}

.wrapper .sidebar.collapse ~ .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;

}
.dropdown-menu
{
    border-bottom: 5px solid red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*dropdown nav*/
.wrapper .sidebar .dropdown-menu {
    position: relative;
    width: 100%;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    margin: 0;
    margin-left: 15px;
    background: no-repeat;
    display: none;  
}
.wrapper .sidebar .open>.dropdown-menu {
    display: block;
    border-bottom: 1px solid #e1f2f1;
    width: auto;
}
.wrapper .sidebar>ul>li {
    position: relative;
    clear: both;
}
.wrapper.collapse .sidebar .open>.dropdown-menu {
    margin:0
}
.wrapper .sidebar .open>.dropdown-menu .icon {
    display: none;
}
.wrapper .sidebar.collapse .show.open>.dropdown-menu li .icon {
    display: block;
    text-align: left;
}
.wrapper.collapse .sidebar .open>.dropdown-menu .title {
    display: none !important;
}

/*end*/

/*Chat_Box */
  .form-control
{
width: 45%;
display: inline-block;
}
.form-group label
{
display: block;
}
.form-group button
{
margin-bottom: 3px;
}

.Mess_box {
    border-radius: 4px;
    height: auto;
    width: 50%;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 10px;
    margin: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
}
.Mess_box::after {
  content: "";
  clear: both;
  display: table;
}
.Mess_box .Time
{
  text-align: right;
  font-size: 9px;
  color:#000000;
  padding: 0px 5px 0px 0px;
}
.Mess_box .Info
{
  text-align: left;
  font-size: 9px;
  color:#000000;
  padding: 0px 5px 0px 0px;
  color:red;
}
.Mess_box p
{
  margin: 0px 0px 6px 5px;
  color: black;

}
.Scroll
{
    padding-top: 8px;
    border: 2px solid #22D1CB;
    border-radius: 5px;
    height: 400px;
    width: 60%;
    overflow: scroll;
}
  .imgbox img
  {
    width: 10%;
  }
  .imgbox
  {
    display: inline;
    padding: 55px;
       
  }
  .detail
  {
    display: inline-table;
  }

  .w3-table-all td 
  {
    text-align: center;
  }
    .w3-table-all th 
  {

    text-align: center;
  }
  /* mess notifi */
  #count
  {
    border-radius: 50%;
    position: relative;
    top: -18px;
    left: -10px;
    background: red;
  }